/* Root
-------------------------------------------------- */
:root {
	--color-one: #FFFFFF;
	--color-two: #000000;
  --color-one-opacity: rgba(255, 255, 255, 0.5);
  --color-two-opacity: rgba(0, 0, 0, 0.5);
  --color-two-opacity-two: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
	:root {
    --color-one: #000000;
    --color-two: #FFFFFF;
    --color-one-opacity: rgba(0, 0, 0, 0.5);
    --color-two-opacity: rgba(255, 255, 255, 0.5);
    --color-two-opacity-two: rgba(255, 255, 255, 0.1);
	}
	
	img {
		filter: brightness(75%);
	}
}


/* Interface - https://github.com/rsms/interface
-------------------------------------------------- */
@font-face {
  font-family: 'Interface';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Interface-Regular.woff2?v=1.1") format("woff2"),
       url("../fonts/Interface-Regular.woff?v=1.1") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Interface-RegularItalic.woff2?v=1.1") format("woff2"),
       url("../fonts/Interface-RegularItalic.woff?v=1.1") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Interface-Medium.woff2?v=1.1") format("woff2"),
       url("../fonts/Interface-Medium.woff?v=1.1") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Interface-MediumItalic.woff2?v=1.1") format("woff2"),
       url("../fonts/Interface-MediumItalic.woff?v=1.1") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Interface-Bold.woff2?v=1.1") format("woff2"),
       url("../fonts/Interface-Bold.woff?v=1.1") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Interface-BoldItalic.woff2?v=1.1") format("woff2"),
       url("../fonts/Interface-BoldItalic.woff?v=1.1") format("woff");
}


/* Reset
-------------------------------------------------- */
*, *:before, *:after {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
	display: block;
}


/* Pix
-------------------------------------------------- */
img {
	display: block;
	max-width: 100%;
	height: auto;
	border: none;
	outline: none;
}


/* Links
-------------------------------------------------- */
a {
	color: var(--color-two-opacity);
	text-decoration: none;
	transition: color .1s, background .1s, border .1s;
}
a:hover,
a.active {
	color: var(--color-two);
  text-decoration: none;
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
	content: "";
	display: table;
	clear: both;
}


/* Site
-------------------------------------------------- */
html {
	height: 101%;
	font-family: "Interface", sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	margin: 0 auto;
	font-size: 100%;
	line-height: 1.5em;
	padding: 1.5em;
	max-width: 50rem;
	background: var(--color-one);
	color: var(--color-two);
}

@media screen and (min-width: 30em) {
	body {
		padding: 3em 1.5em 3em;
	}
}


/* Header
-------------------------------------------------- */
.header {
	margin-bottom: 1.5em;
}

.logo,
.logo a,
.logo svg {
  color:var(--color-two);
  display: block;
  height: 54px;
  width: 46px;
}
.logo {
  margin-left: -.25rem;
  margin-bottom: 1.5em;
  flex-grow: 1;
}
.logo-hexagon-outline {
  fill: transparent;
  stroke: currentColor;
  stroke-width: 2px;
  transition: fill .3s;
}
.logo-k {
  fill: currentColor;
  transition: fill .3s;
}
.logo-hexagon-k {
  transition: fill .3s;
}
.logo a:hover .logo-k {
  fill: transparent;
}
.logo a:hover .logo-hexagon-k {
  fill: currentColor;
}
/* Fancy hexagon focus outline for logo */
.logo a {
  outline: none;
}

@media screen and (min-width: 30em) {
	.logo {
		float: left;
	}
}


/* Navigation
-------------------------------------------------- */
.menu a {
	display: block;
}
.menu li {
	list-style: none;
}
.menu > li {
	position: relative;
}
.menu > li > a {
	padding: .35em 0;
	border-top: 1px solid var(--color-two-opacity);
	font-weight: 500;
}

@media screen and (min-width: 30em) {
	.menu {
		float: right;
		margin-right: -1em;
	}
	.menu > li {
		float: left;
	}
	.menu > li > a {
		padding: .95em 1em;
		border: 0;
	}
}


/* Headings
-------------------------------------------------- */
h1 {
	font-size: 2em;
	line-height: 1.25em;
	font-weight: 500;
	margin-bottom: .5em;
}
h2 {
	font-size: 2em;
	line-height: 1.25em;
	font-weight: 400;
	margin-bottom: .5em;
	color: var(--color-two-opacity);
}
h3 {
	font-size: 1.4em;
	line-height: 1.5em;
	font-weight: 400;
	margin-bottom: .5em;
}
h4 {
	font-size: 1.125em;
	font-weight: 500;
	line-height: 1.5em;
	margin-bottom: .5em;
	color: var(--color-two-opacity);
}
h1 a, h2 a, h3 a, h4 a {
	color: inherit;
	border: 0 !important;
}



/* Main
-------------------------------------------------- */
.main {
  padding-bottom: 1.5em;
}
.main hr {
	margin: 3em 0;
	height: 2px;
	background: var(--color-two-opacity);
}
.main p,
.main figure,
.main ul,
.main ol {
	margin-bottom: 1.5em;
}

/* Text blocks */
.text ul,
.text ol {
	margin-left: 1em;
}

@media screen and (min-width: 30em) {
	.center {
		text-align: center;
	}
}


/* Footer
-------------------------------------------------- */
.footer {
	padding: 1em 0 6em;
	font-size: .8em;
}
.copyright {
	float: left;
}
.colophon {
	float: right;
}
.colophon a b {
	color: red;
	padding-left: .25em;
}


/* Forms
-------------------------------------------------- */
form {
	font-size: 1rem;
	padding-top: 1.5em;
}
@media screen and (min-width: 30em) {
	form {
		max-width: 30em;
		margin: 0 auto;
	}
}
form p,
form .field {
	width: 100%;
	display: inline-block;
	margin-bottom: 1.5rem;
	position: relative;
}
form label {
	display: block;
	padding-bottom: .5rem;
	font-weight: 600;
	cursor: pointer;
  vertical-align: middle;
}
form label small {
  float: right;
}
form .field.error label {
	color: #f40000;
}
form input:not([type="button"]):not([type="submit"]):not([type="checkbox"]),
form textarea,
form select {
	width: 100%;
  color:var(--color-two);
	border: 2px solid var(--color-two-opacity);
	padding: .5rem;
	font-family: inherit;
	font-size: inherit;
	line-height: 1.5em;
	background: none;
	position: relative;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
form textarea {
	height: 10em;
	resize: vertical;
}
form input[type="checkbox"] {
	margin-right: 1em;
  cursor: pointer !important;
}
.field input[type="checkbox"] + label {
	display: inline-block;
	padding: 0;
  font-weight: 400;
}
form input:not([type="button"]):not([type="submit"]):not([type="checkbox"]):focus,
form textarea:focus,
form select:focus {
	border-color:var(--color-two);
}
form button,
form input[type="button"],
form input[type="submit"] {
	padding: .5rem 1.5rem;
	line-height: 1.5em;
	font-family: inherit;
	font-size: inherit;
	border: 0;
	font-weight: 600;
	cursor: pointer;
	background: var(--color-two-opacity);
	color: var(--color-one);
	transition: color .1s ease-out, background-color .1s ease-out;
	border-radius: 2px;
}
form button::-moz-focus-inner,
form input[type="button"]::-moz-focus-inner,
form input[type="submit"]::-moz-focus-inner {
	border: 0;
	padding: 0;
}
form button:hover,
form input[type="button"]:hover,
form input[type="submit"]:hover {
	background:var(--color-two);
	color:var(--color-one)
}
form .honeypot,
.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

abbr {
	color: #f40000;
	font-weight: 400;
	text-decoration: none;
	border: none;
	outline: none;
}
form .help {
	margin: .5rem 0 0;
	color:var(--color-two-opacity);
	display: block;
}
form .help strong {
	color:var(--color-two);
  letter-spacing: .5px;
}

.submit {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 1em;
  justify-items: start;
}
.submit p {
  margin: 0 !important;
  text-align: right;
  place-self: center end;
}
.otherlink {
  max-width: 30em;
  text-align: center;
  margin: 1.5em auto 0;
  padding-top: 1em;
  border-top: 1px dotted var(--color-two-opacity);
}


/* Alerts
-------------------------------------------------- */
.alert {
	color:var(--color-one);
	text-align: center;
	padding: .5em;
	max-width: 30em;
	margin: 0 auto 1.5em;
	background:var(--color-two);
  border-radius: 2px;
}
.alert p {
	margin: 0;
}
.alert.success {
	background: #00a300;
}
.alert.error {
	background: #e60000;
}
.alert.info {
  background: #D3CDBF;
  color: #4D373A;
}
.alert a {
  color:var(--color-one);
  border: 0;
  font-weight: 700;
  letter-spacing: .5px;
}
.alert a:hover {
  border-bottom: 1px solid var(--color-one);
}